@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  overflow-x: hidden;
  color: #fff;
  background-color: #121115;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1560px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 40px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  position: relative;
  width: 150px;
  height: 45px;
}

.header__logo img {
  position: absolute;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__contacts {
  display: none;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li:not(:last-child) {
  margin-right: 75px;
}

.nav a {
  color: #fff;
  font-size: 20px;
}

.burger {
  position: relative;
  z-index: 101;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #0C9EC3;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0C9EC3;
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.stop--scroll {
  overflow: hidden;
}

.intro__video {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 650px;
  width: 100%;
  overflow: hidden;
}

.intro__video::before,
.intro__video::after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.intro__video::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#121115), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(180deg, #121115 0%, rgba(196, 196, 196, 0) 100%);
  top: 0;
}

.intro__video::after {
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#121115), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(0deg, #121115 0%, rgba(196, 196, 196, 0) 100%);
}

.intro__video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.intro__wrap {
  min-height: 400px;
}

.intro h1 {
  margin-top: 200px;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 7px;
  line-height: 35px;
  text-transform: uppercase;
}

.intro__params-item {
  max-width: 250px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 16px;
  position: relative;
  border-left: solid 2px #0C9EC3;
}

.intro__btn {
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  padding: 15px;
  border: 2px solid #0C9EC3;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  -webkit-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}

.intro__btn:hover {
  background-color: #0C9EC3;
}

.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
      grid-template-areas: "a a a" "b b b" "c c c" "d d d" "e e e";
}

.services__item {
  position: relative;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.services__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.services__img {
  width: 100%;
  height: 100%;
}

.services__img img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services h3 {
  position: absolute;
  z-index: 1;
  max-width: 155px;
  left: 30px;
  top: 30px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: a;
}

.b {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: b;
}

.c {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: c;
}

.d {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: d;
}

.e {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: e;
}

.services__link:hover .services__img img {
  scale: 1.1;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.team {
  padding: 40px 0 60px 0;
  background-color: #1c1a20;
}

.team__advantages {
  margin-bottom: 30px;
}

.team__advantages li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 23px;
  color: #aeaeaf;
}

.team__advantages li img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.team__dignity {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.team__dignity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  color: #aeaeaf;
  font-size: 16px;
  font-weight: 300;
}

.team__dignity-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.hardware__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hardware__item {
  position: relative;
}

.hardware__item:not(:last-child) {
  padding-bottom: 40px;
}

.hardware__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0C9EC3;
  bottom: 20px;
  left: 0;
}

.hardware h5 {
  margin-bottom: 25px;
}

.hardware p {
  color: #aeaeaf;
  text-align: justify;
  line-height: 25px;
}

.hardware p:not(:last-child) {
  margin-bottom: 20px;
}

.hardware__img {
  margin: 20px 0;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 3px;
}

.hardware__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__wrap {
  padding: 50px 15px;
  background-color: #1c1a20;
}

.feedback__title span {
  color: #aeaeaf;
  padding-top: 15px;
  text-transform: none;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.form__label {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.form__button {
  display: block;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: #0C9EC3 solid 1px;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.form__button:hover {
  background-color: #0C9EC3;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border-bottom: #343434 solid 1px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.input:hover {
  border-bottom: #0C9EC3 solid 1px;
}

.textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: #343434 solid 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  color: #fff;
}

.textarea:hover {
  border: #0C9EC3 solid 1px;
}

.question__wrap {
  padding: 50px 0;
}

.question h5 {
  font-size: 28px;
  font-weight: 600;
}

.accordion__list {
  max-width: 600px;
}

.accordion__list li:last-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: #0C9EC3;
}

.accordion {
  padding: 20px 0;
  position: relative;
}

.accordion::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0px;
  left: 0px;
  background-color: #0C9EC3;
}

.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-align: justify;
}

.accordion__content p:nth-child(2) {
  padding-top: 20px;
}

.accordion__title {
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.accordion__icon {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.open .accordion__icon {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .accordion__content {
  margin-top: 15px;
  opacity: 1;
}

.accordion__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion__control::-webkit-details-marker {
  display: none;
}

.accordion__icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.accordion__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 1px;
  background-color: #0C9EC3;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 20px;
  background-color: #0C9EC3;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cases {
  margin-top: 50px;
  margin-bottom: 90px;
}

.cases__wrap {
  position: relative;
}

.cases__tolink {
  position: absolute;
  padding-right: 52px;
  background-image: url(../img/icons/arrow-link.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 170px;
  height: 20px;
  bottom: -50px;
  color: #0C9EC3;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.cases__tolink:hover {
  color: #fff;
}

.cases__slider {
  position: relative;
  padding-bottom: 40px;
  margin: 20px 0;
}

.swiper-button {
  position: absolute;
  width: 65px;
  bottom: 70px;
  right: 1px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: rgba(68, 52, 52, 0.6117647059);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(27, 21, 21, 0.7137254902);
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.slid__wrap {
  padding: 20px;
  border: solid 1px #0C9EC3;
  border-radius: 3px;
}

.slid__descr-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 23px;
  color: #aeaeaf;
}

.slid__descr-item img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.slid__btn {
  position: relative;
  margin: 30px 0;
  padding-left: 60px;
  color: #0C9EC3;
  font-size: 16px;
  background-color: transparent;
}

.slid__btn::before,
.slid__btn::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.slid__btn::before {
  z-index: 1;
  left: 0;
  background-color: #4b4b4b;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slid__btn::after {
  z-index: 2;
  left: 2px;
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.slid__btn:hover:before {
  background-color: #343434;
}

.slid__img-block {
  width: 100%;
}

.slid__img {
  position: relative;
  width: 100%;
  min-height: 250px;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.slid__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.slid__img::after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
  color: #0C9EC3;
}

.footer {
  padding: 40px 0px;
  background-color: #1c1a20;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}

.footer__logo {
  position: relative;
  width: 90px;
  height: 60px;
  overflow: hidden;
}

.footer__logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding: 5px;
}

.footer__social-link {
  display: block;
  position: relative;
  height: 18px;
}

.footer__social-img {
  top: 0;
  left: 0;
  -webkit-transition: scale 0.3s ease-in-out;
  transition: scale 0.3s ease-in-out;
  width: 100%;
}

.footer__social-img:hover {
  scale: 1.2;
}

.footer__services {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.footer__services li {
  text-transform: none;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 220px;
}

.footer__menu li:not(:first-child) {
  margin-top: 15px;
}

.footer__menu a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__contacts a,
.footer__contacts .footer__location {
  color: #ffffff;
  position: relative;
  display: block;
  padding-left: 30px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__contacts a:hover,
.footer__contacts .footer__location:hover {
  color: #0C9EC3;
}

.footer__contacts img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__location {
  line-height: 22px;
  max-width: 300px;
}

.footer__location img {
  width: 15px;
  height: 20px;
}

@media (min-width: 641px) {
  .intro h1 {
    font-size: 42px;
    line-height: 55px;
    margin-top: 250px;
  }

  .intro__params {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro__params-item {
    margin-right: 25px;
  }

  .team__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }

  .team__advantages {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .team__dignity-list {
    gap: 30px;
  }

  .hardware__img {
    height: 350px;
  }

  .cases__tolink {
    right: 0;
    top: 5px;
  }

  .slid__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding-right: 0;
  }

  .slid__text-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }

  .slid__descr {
    margin-bottom: 70px;
  }

  .slid h5 {
    margin-bottom: 50px;
  }

  .slid__btn {
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .slid__img-block {
    position: relative;
  }

  .slid__img-block::before {
    position: absolute;
    z-index: 3;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #0C9EC3;
    left: -10px;
    top: 0;
  }

  .slid__img {
    min-height: 350px;
  }

  .footer__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .footer__services,
  .footer__menu,
  .footer__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 961px) {
  h2,
  h3,
  h4 {
    font-size: 36px;
  }

  .services__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
        grid-template-areas: "a b b" "a c c" "d d e";
  }

  .a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: a;
  }

  .b {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: b;
  }

  .c {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: c;
  }

  .d {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: d;
  }

  .e {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: e;
  }

  @media (min-width: 961px) {

  .a {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
  }

  .b {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
  }

  .c {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
  }

  .d {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
  }

  .e {
      -ms-grid-row: 5;
      -ms-grid-column: 5;
      -ms-grid-column-span: 1;
  }
  }

  .team__advantages {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }

  .team__dignity-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }

  .hardware__list li:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .hardware .hardware__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .hardware .hardware__item:not(:last-child) {
    padding-bottom: 40px;
  }

  .hardware .hardware__item:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0C9EC3;
    bottom: 20px;
    left: 0;
  }

  .hardware__text-block {
    padding-top: 18px;
  }

  .hardware__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .slid__wrap {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }

  .slid__text-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }

  .slid__img-block {
    position: relative;
  }

  .slid__img-block::before {
    left: -15px;
  }

  .footer__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .footer__link,
  .footer__services,
  .footer__menu,
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .a {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .b {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .c {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .d {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .e {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }
}

@media (min-width: 1025px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font-weight: 300;
    font-size: 18px;
  }

  .header__phone {
    position: relative;
    padding-left: 30px;
    color: #fff;
    margin-bottom: 10px;
  }

  .header__phone::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/icons/phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .header__location {
    position: relative;
    padding-left: 30px;
  }

  .header__location::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/icons/location.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .intro h1 {
    font-size: 60px;
    line-height: 65px;
  }
}

@media (max-width: 1024px) {
  .nav {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 90px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.68);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .nav li {
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .nav li:not(:last-child) {
    margin-right: 20px;
  }

  .nav--visible {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .burger {
    display: block;
  }
}